@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-600;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#root {
  @apply min-w-full min-h-full;
}

button {
  @apply bg-blue-500 text-white p-2 rounded-md cursor-pointer;
}

button:hover {
  @apply bg-blue-600;
}

button:active {
  @apply bg-blue-700;
}
